/* General page layout settings accross the site */
* {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Tamma 2', cursive;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(-45deg,  #011627, #2ec4b6);
    height: calc(85vh + 15vh);
}

h1 {
    width: fit-content;
    margin: auto;
    color: #FDFFFC;
}

/* cards-style projects section */
main {
    width: 100%;
    height: 70vh; 
    position: absolute;  
    display: flex;
    color: #FDFFFC;
}

.projects_box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* general project cards layout parameter */
.project_outline {
    margin: 40px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55vh;
    width: 25vw;
    background-repeat: none;
    background-size: 25vw 55vh;
    position: relative;
}

.project1 {
    background-image: url(../docs/LP.png);
}

.project2 {
    background-image: url(../docs/Markimage.JPG); 
}

.project3 {
    background-image: url(../docs/idea.jpg);
}

.project3 h2, .project3 p {
    color: #011627;
}

/* go to site button with hover effects */
.button {
        text-decoration: none;
        color: #FDFFFC;
        position: absolute;
        bottom: 15px;
        font-size: 1.25em;
}

.project1 a, .project2 a, .project3 a {
    background-color: #e71d36;
    border-radius: 5px;
    border: #011627 solid 2px;
}

.project1 a:hover, .project2 a:hover, .project3 a:hover {
    background-color: #FDFFFC;
    color: #e71d36;
    border: #e71d36 solid 2px;
    transition: all 0.3s;
}

/* responsive layout for smartphone viewport, changed to single column layout.*/
@media only screen and (max-width: 600px) {

    body {
        height: 250vh;
    }

    .projects_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 220vh;;
    }

    .project_outline {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 60vh;
        width: 70vw;
        position: relative;  
        margin: 40px 0;
        background-size: 70vw 70vh;
        background-repeat: no-repeat;
        text-align: center;
    }

    .button {
        text-decoration: none;
        color: #FDFFFC;
        position: absolute;
        bottom: 15px;
        font-size: 1.25em;
    }

    .project3 {
        background-size: 70vw 100%;
    }
}

